<?php
  define('DB_NAME', '{{ db['db'] }}');
  define('DB_USER', '{{ db['user'] }}');
  define('DB_PASSWORD', '{{ db['password'] }}');
  define('DB_HOST', 'localhost');
  define('DB_COLLATE', 'utf8_general_ci');
  define('WP_CONTENT_DIR', '/usr/share/wordpress/wp-content');
?>
